# distribution directories
build/
sdist/
# dist/
eggs/
*.eggs/
*.egg-info/
__pycache__/
*.egg

# Virtual environment locations
venvs/
venv/

# compiled python files
*.py[cod]

# cavecalc test outputs
*.phr
*.pho
*.pkl
*.sel
*.out
*.inp